.personal-details{
margin: auto;
}

.form-control{
    box-shadow: none !important;
    padding: 10px !important;
}
.form-control:focus{
    border-color: #6395f3 !important;

}

.form-text{
    font-weight: bold;
    margin: 15px 0 5px 0;
}

.heading-content{
    color:#6395f3;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 2px solid #6395f3;
    border-radius: 50%;
}